<div ng-controller="HomeCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="container-center">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/garden#/">Ботанический Сад <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="title == 'Plants'"><a href="/garden#/plants">Растения</a></li>
                        <li ng-class="title == 'Admin'"><a href="/garden#/admin">Администрирование</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-center">
            <div class="page-header">
                <h3>Добро пожаловать в Центральный ботанический сад</h3>
            </div>
            <div class="page-header">
                <h4>История</h4>
            </div>
            <div>
                Организован в 1932 по решению Совета Народных Комиссаров БССР. Это самый крупный в стране центр по сохранению биологического разнообразия живых растений,
                ведущее научное учреждение в области интродукции, акклиматизации, физиологии, биохимии и экологии растений, охраны  окружающей среды. Принадлежит к числу
                крупнейших ботанических садов Европы как по площади (153 га), так и по составу коллекций (более 9 тысяч наименований,  в том числе 2,3  тысячи  закрытого
                грунта). В 1999 г. по решению Правительства Республики Беларусь ему придан статус  научного  объекта,  составляющего  национальное достояние. Центральный
                ботанический сад объявлен памятником природы республиканского значения и памятником  ландшафтной  архитектуры. В  настоящее время руководит деятельностью
                Центрального ботанического сада НАН Беларуси, доктор биологических наук В. В. Титок.
                С 1 апреля 2006 года решением администрации Первомайского района Центральный ботанический сад объявлен территорией, свободной от курения.
                В 2007 году в ботаническом саду открылась экспозиционная оранжерея, строительство которой было начато в 2004 году. В оранжерее  представлены  экзотические
                растения, населяющие различные климатические зоны планеты. Благодаря открытию нового сооружения ботанический сад не будет закрываться на зиму с ноября  по
                апрель, а останется открытым для посещения оранжереи.
                Научный коллектив ботанического сада разрабатывает теоретические основы и методы использования мировых растительных ресурсов для нужд народного хозяйства и
                культуры Беларуси. Разработки вносят значительный вклад в решение практических вопросов зеленого строительства, нетрадиционного плодоводства, лекарственного
                растениеводства и охраны окружающей среды.
            </div>
        </div>
    </div>
</div>
<div class="leaves"></div>